---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { assertLang } from "../../../lib/lang";

// Static paths for English and Arabic
export async function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: "ar" } }];
}

const { lang } = Astro.params;
assertLang(lang);

// Get all blog posts
const blogs = await getCollection("blog");
console.log(" blogs: ", blogs);
---

<BaseLayout lang={lang} title={lang === "en" ? "Blog" : "المدونة"}>
  <h1 class="text-3xl font-bold mb-6">{lang === "en" ? "Blog" : "المدونة"}</h1>

  <ul class="space-y-4">
    {
      blogs.map((post) => (
        <li>
          <a
            href={`/${lang}/blog/${post.slug}`}
            class="text-blue-600 hover:underline"
          >
            {post.data.title[lang]}
          </a>
          {post.data.summary && (
            <p class="text-gray-700 dark:text-gray-300 text-sm mt-1">
              {post.data.summary[lang]}
            </p>
          )}
        </li>
      ))
    }
  </ul>
</BaseLayout>
